.container {
  text-align: center;
  background-color: rgb(146, 236, 130);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  height: 100vh;
}
* {
  color: black;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.exit-btn {
  background-color: red;
  width: 8rem;
  height: 3rem;
  position: fixed; /* Vastzetten aan scherm */
  bottom: 2%; /* Afstand tot onderkant scherm */
  left: 50%; /* Horizontaal centreren */
  transform: translateX(-50%); /* Alleen horizontaal centreren */
  border-radius: 20px;
  z-index: 999; /* Zorg dat hij boven andere elementen ligt */
}
.exit-btn:hover {
  background-color: darkred;
}

.guess-container {
  background-color: #d9ffcf;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

input[type="number"] {
  color: #87b9e1;
  background-color: #91e8eb;
  padding: 10px;
  width: 60%;
  margin: 10px 0;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #77c260;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #558a45;
}

.feedback {
  font-size: 1.2rem;
  margin: 10px 0;
}

.reset-btn {
  background-color: #77c260;
}

.reset-btn:hover {
  background-color: #558a45;
}
