<body>
  <div class="container">
    <!-- Titel -->
    <div class="titelcontainer">
      <h1>Brain Train</h1>
      <img class="h1logo" src="brainTrainLogo.png" alt="" />
    </div>

    <!-- Info knop -->
    <div class="info-container">
      <h2>GAMES</h2>
      <p-button class="info-button" (click)="showDialog()" label="Info" />
      <p-dialog
        class="info-dialog"
        header="Info"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [maximizable]="true"
      >
        <span> Memory </span>
        <p>Try and match the the cards that have the same numbers!</p>
        <span>Rush Hour</span>
        <p>
          Free the red rectangle by sliding the other rectangles out of its way.
          The end goal is moving the red rectangle on top of the red "=>"
          symbols. Rectangles can only move horizontally or vertically,
          depending on how they are positioned. You can move a rectangle by
          clicking on its outer most squares. <br />
          Try and solve the puzzle in the least amount of time and moves!
        </p>
        <span>Higher or Lower</span>
        <p>Try and guess the number in as few trys as possible!</p>
        <span>Rock, Paper, Scissors</span>
        <p>
          The classic rock, paper scissors game! Make your choice and see who
          wins.
        </p>
      </p-dialog>
    </div>

    <!-- Spelkeuzes -->
    <div class="game-buttons">
      <div>
        <img src="memory.png" class="game-button" alt="" routerLink="/memory" />
        <p>Memory</p>
      </div>
      <div>
        <img
          src="rush-hour.png"
          class="game-button"
          alt=""
          routerLink="/rushhour"
        />
        <p>Rush Hour</p>
      </div>
      <div>
        <img
          src="higher-lower.png"
          class="game-button"
          alt=""
          routerLink="/higherlower"
        />
        <p>Higher or lower</p>
      </div>
      <div>
        <img
          src="rock-paper-scissors.png"
          class="game-button"
          alt=""
          routerLink="/rockpaperscissors"
        />
        <p>Rock, Paper, Scissors</p>
      </div>
    </div>

    <!-- Moeilijkheidsknoppen -->
    <div class="difficulty-buttons"></div>
  </div>
</body>
