<body>
  <div class="container">
    <h1>Memory Game</h1>
    @if (gameWon) {
    <h2 class="win-message">🎉 Good job! 🎉</h2>
    }
    <div class="grid">
      @for (square of squares; track square.id) {
      <div
        class="clickable-square"
        id="hs-run-on-click-run-confetti"
        [class.revealed]="square.revealed || square.matched"
        (click)="onSquareClick(square)"
      >
        {{ square.revealed || square.matched ? square.value : "?" }}
      </div>
      }
    </div>
    <button routerLink="/mainmenu" class="exit-btn">Exit</button>
  </div>
</body>
