.game-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.option {
  width: 3rem;
}
.choices {
  margin: 0;
}

.choice-btn {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.playagain-btn {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.playagain-btn:hover {
  background-color: darkgreen;
}
.choice-btn:hover {
  background-color: grey;
}

.exit-btn {
  background-color: red;
  width: 8rem;
  height: 3rem;
  position: fixed; /* Vastzetten aan scherm */
  bottom: 2%; /* Afstand tot onderkant scherm */
  left: 50%; /* Horizontaal centreren */
  transform: translateX(-50%); /* Alleen horizontaal centreren */
  border-radius: 20px;
  z-index: 999; /* Zorg dat hij boven andere elementen ligt */
}
.exit-btn:hover {
  background-color: darkred;
}

.result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  color: #666;
}

.container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
