table{
    background-color: rgb(95, 95, 95);
    border: 5px solid #000000;
}
td {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center; /* Centreer de inhoud van de cellen */
    position: relative; /* Nodig voor het positioneren van de exit-div */
  }

.exit-div{
    position: absolute; /* Plaats de div absoluut binnen de cel */
    top: 50%; /* Verticaal centreren */
    left: 50%; /* Horizontaal centreren */
    transform: translate(-50%, -50%); /* Perfect centreren */
    width: 100%; /* Zorg ervoor dat de div dezelfde breedte heeft als de cel */
    height: 100%; /* Zorg ervoor dat de div dezelfde hoogte heeft als de cel */
    font-size: 48px; /* Vergroot de tekst van "=>" */
    font-weight: bold; /* Maak de tekst vetgedrukt */
    color: rgba(255, 0, 0, 0.648);
    overflow: hidden; /* Zorg ervoor dat de tekst niet buiten de div komt */
  }
.button{
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#exit {
    vertical-align: middle;
    overflow: hidden; /* Dit zorgt ervoor dat te grote inhoud wordt verborgen */
    text-align: center; /* Optioneel, om de inhoud mooi uit te lijnen */
  }

.button_1 {background-color: rgb(157, 255, 0)}
.button_2 {background-color: rgb(255, 208, 0)}
.button_3 {background-color: rgb(255, 123, 0)}
.button_4 {background-color: rgb(255, 0, 0)}

.counter{
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.real_timer{
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position relative;
    left: 400px;
}

.arrow{
    font-size: 100px;
    color: rgb(255, 0, 0);
    position: relative;
    left: 400px;
    top: 420px;
    pointer-events: none;
}

/* leeg vak */
._0{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(128, 128, 128);
    font-size: xx-large;
    font: caption;

}

/* speler */
._1{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(255, 0, 0);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._2{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(255, 123, 0);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._3{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(255, 208, 0);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._4{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(157, 255, 0);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._5{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(0, 255, 149);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._6{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(0, 255, 234);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._7{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(0, 38, 255);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._8{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(119, 0, 255);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._9{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(255, 0, 234);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._10{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._11{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}

/* voertuig */
._12{
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-color: rgb(95, 54, 0);
    font-size: xx-large;
    font: caption;
    cursor: pointer;

}
